.button {
  cursor: pointer;

  position: relative;

  display: grid;
  place-items: center;

  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;

  &:disabled {
    cursor: unset;
    opacity: 0.5;
  }

  svg {
    position: relative;
    z-index: 5;
  }
}
