.root {
  border-collapse: collapse;
  width: 100%;
}

.head {
  background-color: var(--color-light-200);
}

.headCell {
  padding: 10px 12px;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  text-align: left;
}

.row {
  border-bottom: 1px solid var(--color-light-200);
}

.cell {
  padding: 10px 12px;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);

  &:not(:first-child) {
    border-left: 1px solid var(--color-light-200);
  }
}

.empty {
  display: grid;
  place-items: center;
  padding: 160px 0;
}
